*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#000;
    color:#fff;
}

/* Header */
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px;
    background:linear-gradient(to right,#000,#111);
    border-bottom:1px solid #222;
}

.logo{
    font-size:22px;
    font-weight:bold;
}

.logo span{
    color:red;
}

header input{
    padding:8px;
    border-radius:20px;
    border:none;
    background:#111;
    color:#fff;
    width:150px;
}

/* Sections */
.section{
    padding:25px 15px;
    border-bottom:1px solid #111;
}

.section-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.section-header h2{
    font-size:20px;
}

.section-header a{
    color:#aaa;
    text-decoration:none;
}

.purple{
    color:#a855f7;
}

.red{
    color:#ff0000;
}

/* Store Section */
.store{
    text-align:center;
    padding:60px 20px;
    background:radial-gradient(circle,#1a0000,#000);
}

.store h1{
    font-size:28px;
}

.store p{
    color:#aaa;
    margin-top:10px;
}

.support-box{
    margin-top:30px;
    background:#111;
    padding:20px;
    border-radius:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.support-box small{
    color:#aaa;
}

.support-box h3{
    margin-top:5px;
}

.whatsapp{
    font-size:30px;
}

footer{
    text-align:center;
    padding:20px;
    font-size:12px;
    color:#555;
}