body{
    margin:0;
    font-family:Arial;
    background:#111;
    color:white;
    text-align:center;
}

.hero{
    padding-top:150px;
}

.hero h1{
    font-size:50px;
    color:red;
}

.buttons a{
    display:inline-block;
    margin:20px;
    padding:15px 40px;
    background:red;
    color:white;
    text-decoration:none;
    border-radius:30px;
    font-size:20px;
}

.buttons a:hover{
    background:darkred;
}

.container{
    padding:40px;
}

.card{
    background:#1e1e1e;
    display:inline-block;
    width:250px;
    margin:20px;
    border-radius:10px;
    overflow:hidden;
}

.card img{
    width:100%;
    height:200px;
    object-fit:cover;
}

.card h3{
    color:red;
}

.search{
    margin-bottom:30